:root {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #0f172a;
    background-color: #f5f7fa;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #f5f7fa;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: block;
}